# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual Environment
venv/
.venv/

# Node / Extension Build
node_modules/
dist/
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code & IDE
.vscode/
.idea/

# Environment variables
.env
.env.local

# Mac
.DS_Store